<p>Computer Hardware List works!</p>

<input type="text" [(ngModel)]="newComponent" placeholder="Enter component name">
<button class="btn btn-primary" (click)="addComponent()">Add Component</button>

<table>
  <thead>
  <tr>
    <th>Component</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let component of hardwareList; let i = index">
    <td>{{component.name}}</td>
    <td>{{component.quantity}}</td>
    <td>
      <button class="btn btn-danger" (click)="deleteComponent(i)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
