<ul>
  <button><a routerLink="/">Student List</a></button>
  <button><a routerLink="/employeelist">Employee List</a></button>
  <button><a routerLink="/fruit">Fruit List</a></button>
  <button><a routerLink="/course">Course List </a></button>
  <button><a routerLink="/book">Book List</a></button>
  <button><a routerLink="/city">City List </a></button>
  <button><a routerLink="/movie">Movie List</a></button>
  <button><a routerLink="/car">Car Model List </a></button>
  <button><a routerLink="/product">Product List</a></button>
  <button><a routerLink="/subject">Subject List</a></button>
</ul>

<ul>
  <button><a routerLink="/country">Country List </a></button>
  <button><a routerLink="/sport">Sports List </a></button>
  <button><a routerLink="/vagetable">Vegetable List </a></button>
  <button><a routerLink="/animal">Animal List </a></button>
  <button><a routerLink="/tool">Tool List</a></button>
  <button><a routerLink="/laguage">Language List  </a></button>
  <button><a routerLink="/game">Game List </a></button>
  <button><a routerLink="/software">Software List </a></button>
  <button><a routerLink="/phone">Phone Contact List</a></button>
  <button><a routerLink="/music">Music Playlist</a></button>
</ul>
<ul>
  <button><a routerLink="/food">Food Menu</a></button>
  <button><a routerLink="/grocery">Grocery List </a></button>
  <button><a routerLink="/classroom">Classroom List </a></button>
  <button><a routerLink="/inventory">Inventory List  </a></button>
  <button><a routerLink="/lecture">Lecture List</a></button>
  <button><a routerLink="/stationery">Stationery List</a></button>
  <button><a routerLink="/flower">Flower List</a></button>
  <button><a routerLink="/destination">Destination List</a></button>
  <button><a routerLink="/laptop">Laptop List</a></button>
  <button><a routerLink="/laptopspecifications">Laptop Specifications List</a></button>
</ul>

<ul>
  <button><a routerLink="/computerhardware">Computer Hardware List</a></button>
  <button><a routerLink="/mobileapp">Mobile App List</a></button>
  <button><a routerLink="/video">Video List</a></button>
  <button><a routerLink="/tvshow">TV Show List</a></button>
  <button><a routerLink="/furniture">Furniture List </a></button>
  <button><a routerLink="/accessory">Accessory List</a></button>
  <button><a routerLink="/building">Building List</a></button>
  <button><a routerLink="/painting">Painting List </a></button>
  <button><a routerLink="/artist">Artist Listt</a></button>
  <button><a routerLink="/composer">Composer List</a></button>
</ul>


<ul>
  <button><a routerLink="/podcast">Podcast List</a></button>
  <button><a routerLink="/exercise">Exercise List </a></button>
  <button><a routerLink="/mealplan">Meal Plan List</a></button>
  <button><a routerLink="/budget">Budget List  </a></button>
  <button><a routerLink="/presentation">Presentation List </a></button>
  <button><a routerLink="/tour">Tour List </a></button>
  <button><a routerLink="/event">Event List  </a></button>
  <button><a routerLink="/developer">Developer Tools List </a></button>
  <button><a routerLink="/framework">Framework List </a></button>
  <button><a routerLink="/library">Library List </a></button>
</ul>



<router-outlet></router-outlet>
